.app {
  text-align: center;
  width: 100%;
}

.logo {
  text-align: left;
  width: 80%;
  padding-top: 20px;
  padding-left: 10%;
}

.conta {
  text-align: right;
}

.img-logo {
  height: 100px;

}

.email {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  height: 26px;
  width: 200px;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(226, 226, 226) ;
}

.barra {
  background-color: rgb(226, 226, 226);
  padding-left: 10%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 4px;
}

.consultani {
  border-style: none;
  background-color: rgb(226, 226, 226);
  padding-left: 0%;
  padding-right: 10px;
  color: rgb(90, 90, 90);
  border-right: 1px solid rgb(90, 90, 90);
}

.titulo {
  text-align: left;
  padding-left: 10%;
  padding-top: 8px;
  padding-bottom: 16px;
}

.consultaranimal {
  font-weight: bold;
  font-size: 24px;
}

.digite {
  font-size: 16px;
}

.barrapesquisa {
  display: flex;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8px;
}

.search {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  text-align: left;
  height: 26px;
  width: 200px;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(226, 226, 226);
}

.add {
  text-align: left;
  flex-grow: 1;
  padding-left: 10%;
  padding-right: 10%;
}

.adicionar {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  height: 26px;
  width: auto;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(176,202,160);
}

.bal {
  display: flex;
  flex-direction: column;
}

.lab {
  margin-bottom: 5px;
}

.cadastro {
  text-align: left;
  flex-grow: 1;
  padding-left: 20%;
  padding-right: 10%;
}

.cadastro-especie {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  height: 26px;
  width: auto;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(176,202,160);
}

.cadastro1 {
  text-align: left;
  flex-grow: 1;
  padding-left: 30%;
  padding-right: 10%;
}

.cadastro-identificação {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  height: 26px;
  width: auto;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(176,202,160);
}

.OpenModal {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  height: 26px;
  width: auto;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(176,202,160);
}

