.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
 
}

.App-header {
  background-color: #fff;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #000;
  font-weight: bold;
}

.usuario{
  font-size: calc(20px);  
  border-radius: 5px/5px;
  padding-left: 10px;
  background-color:rgb(222, 212, 212);
  border: none;
}

.senha{
  font-size: calc(20px);  
  border-radius: 5px/5px;
  padding-left: 10px;
  background-color:rgb(222, 212, 212);
  border: none;

}


.form{
  font-size: 20px;
  color: rgb(123, 119, 119); 
  line-height: 15%;
}

.entrar{
position: relative;
background: lightgray;
width: 250px;
margin: 0 auto;
height: 28px;
border-radius: 5px/5px;
background-color:rgb(21, 104, 54);
border: none;
font-size: 20px;
color: rgb(255, 255, 255);
line-height: 35%;
}

.planejado {
  padding-top: 20px;
  color: blue;
}

