.title1{
    text-align: center;
    padding-right: 10%;
    margin: 0px;
}
.title2{
    text-align: left;
    padding-left: 10%;
    padding-top: 8px;
    padding-bottom: 16px;
    margin-bottom: 0%;
}
.subtitle{
    opacity: 50%;
}
.checkbox{
    width: 20px;
    height: 20px;
}
.checkbox2{
    padding-left: 10%;
    text-align: left;
    font-size: 20px;
}
.ass{
    padding-left: 10%;
    padding-top: 30px;
    text-align: left;
    font-size: 20px;
}
hr{
    text-align: left;
    margin-top: 70px;
    width: 300px;
    margin-left: 10%;
    margin-bottom: 50px;
}