.App {
  text-align: center;
  width: 1500px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
 
}

.App-header {
  background-color: #fff;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(22px + 2vmin);
  color: #000;
  font-weight: bold;
}

.input{
  font-size: calc(20px);  
  border-radius: 5px/5px;
  padding-left: 10px;
  background-color:rgb(222, 212, 212);
  border: none;
}

.App-titulo{
  font-size: 20px;
 color: rgb(123, 119, 119);

}

.App-senha{
  font-size: 20px;
  color: rgb(123, 119, 119);
}

.entrar{
  font-size: calc(20px);
  border-radius: 5px/5px;
  padding-left: 200px;
  color:#fff;
  background-color:rgb(19, 94, 47);
  border: none;
  text-align: center;
  
}



