.enriquecimento {
    text-align: left;
    width: 50%;
  }
  
  .Enriquecimento-logo {
    height: 25vmin;
    pointer-events: none;
    width: 20%;
    line-height: 15%;
    justify-content:  flex-end;
    align-items: flex-start;
   
  }
  
  .Enriquecimento-header {
    background-color: #fff;
    min-height: 30vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content:  flex-end;
    font-size: calc(20px + 2vmin);
    color: rgb(8, 8, 8);
    font-weight: bold;
  }
  
  .atividade{
    font-size: calc(60px);  
    border-radius: 5px/5px;
    padding-left: 168px;
    background-color:rgb(222, 212, 212);
    border: none;
    text-align: center;
  }
  
  .descrição{
    font-size: calc(70px);  
    border-radius: 5px/5px;
    padding-left: 50px;
    background-color:rgb(222, 212, 212);
    border: none;
    text-align: center;
  
  }
  
  
  .App-atividade{
    font-size: 20px;
    color: rgb(123, 119, 119); 
    line-height: 15%;
  }

  .App-descrição{
    font-size: 20px;
    color: rgb(123, 119, 119); 
    line-height: 15%;
  }

  .data{
    font-size: 20px;
    color: rgb(123, 119, 119); 
    height: 30%;
  }
  
  
 
  

  